#*******************************************************************************************************************
##* Config files                                                                                                    *
##*******************************************************************************************************************
##* File:             .gitconfig                                                                                    *
##* Copyright:        (c) 2011-2012 alimonda.com; Emanuele Alimonda                                                 *
##*                   Public Domain                                                                                 *
##*******************************************************************************************************************

[core]
	quotepath = false
#	askpass = ~/bin/git-password
	excludesfile = ~/.gitignore_global
	whitespace = trailing-space,space-before-tab
	precomposeUnicode = true

[color]
	# Let's use some colors
	ui = auto

[difftool]
	# Don't ask annoying questions when I run difftool
	prompt = false

[mergetool]
	# Remove old files
	keepBackup = true

# SourceTree.app's default backup tool (Araxis Merge)
[difftool "sourcetree"]
	cmd = mvim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

# vim, autoselect console or gui
[difftool "vvim"]
	cmd = vvimdiff -f \"$LOCAL\" \"$REMOTE\"
[mergetool "vvim"]
	cmd = vvim -f -d -c "wincmd J" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

# vim, force gui
[difftool "mvim"]
	cmd = mvimdiff -f \"$LOCAL\" \"$REMOTE\"
[mergetool "mvim"]
	cmd = mvim -f -d -c "wincmd J" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

# vin, force console
[difftool "cvim"]
	cmd = vimdiff -f \"$LOCAL\" \"$REMOTE\"
[mergetool "cvim"]
	cmd = vim -f -d -c "wincmd J" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

# Some aliases for quick access
[alias]
	vvimdiff = difftool -t vvim
	mvimdiff = difftool -t mvim
	vimdiff = difftool -t cvim
	vim-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; vim `f`"
	mvim-unmerged = "!f() { git diff --name-status --diff-filter=U | cut -f2 ; }; mvim `f`"
	graph = log --graph --decorate --oneline
	incoming = !sh -c 'git log --graph --decorate $1@{1}..$1@{0} "$@"'
	logs = log --graph --abbrev-commit --decorate \
		--format=format:'%C(yellow)%h%C(reset) %C(bold cyan)%aD%C(reset) %C(yellow)%G?%C(reset) - %C(white)%s%C(reset)\
		%C(bold blue)[%an]%C(reset) %C(bold green)%d%C(reset)'
	logx = log --graph --abbrev-commit --decorate \
		--format=format:'%C(yellow)%h%C(reset) %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(cyan)(committed: %cD)%C(reset) %C(bold red)%d%C(reset)%n\
		''        %C(white)%s%C(reset)%n\
		''        %C(bold blue)- %an <%ae> %C(reset) %C(dim blue)(committer: %cn <%ce>)%C(reset)'
	forcepush = push --force-with-lease
	authors = "!git log --pretty=format:%aN | sort | uniq -c | sort -rn"
	ls-ignored = ls-files --exclude-standard --ignored --others
	turbomerge = merge -s recursive -X patience
	conflicted = grep --name-only --full-name '^<<<<<<< '
	news = log -p HEAD@{1}..HEAD@{0}
	logf = log --pretty=format:'%C(yellow)%h %C(green)%G?%C(red)%d %C(reset)%s%C(blue) [%cn]' --decorate --numstat
	filelog = log -u
	showconflict = !git show "$(cat .git/rebase-merge/stopped-sha)"
	gpg-rebase = "!EDITOR='sed -i -re s/^pick/e/' sh -c 'git rebase -i $1 && while test -f .git/rebase-merge/interactive; do git commit --amend --gpg-sign --no-edit && git rebase --continue; done' -"

[push]
	default = upstream

[user]
	useconfigonly = true

[rerere]
	enabled = true

[filter "utf16"]
	clean = "iconv -f utf-16le -t utf-8"
	smudge = "iconv -f utf-8 -t utf-16le"
	required

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green

[color "status"]
	added = yellow
	#changed = green
	untracked = cyan
	branch = blue bold
	nobranch = red
	unmerged = red

[diff]
	renames = copies
	mnemonicprefix = true
	algorithm = histogram
	#tool = araxis
	#tool = vimdiff
	#tool = vimdiff2
	#tool = vimdiff3

[status]
	submodulesummary = true

[diff "plist"]
	textconv = "plutil -convert xml1 -o -"
