[submodule ".vim/bundle/gitv"]
	path = .vim/bundle/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/Tagbar"]
	path = .vim/bundle/Tagbar
	url = git://github.com/vim-scripts/Tagbar.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tabbar.vim"]
	path = .vim/bundle/tabbar.vim
	url = git://github.com/jordanchen/tabbar.vim.git
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = git://github.com/mbbill/undotree.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-speeddating"]
	path = .vim/bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
